---
import Layout from "../../layouts/Layout.astro";
import Gallery from "../../components/Gallery";
---

<Layout title="Galeri Sekolah - SMA Insan Cendekia">
    <main>
        <div class="pt-20">
            <Gallery client:load />
        </div>
    </main>
</Layout>
